div#root {
    background-color: #f8f9fa;
}

span.filter-title {
    color: #6c757d;
    text-align: center;
    font-size: 75%;
    padding: .25rem .5rem;
}

.filters {
    padding: 1em;
    border: .2rem solid rgb(233, 234, 235);
    border-radius: 7px;
}